data/mixed2.mp4
data/sipper.mp4
data/frozen_inference_graph.pb
data/frozen_inference_graph.txt
data/frozen_inference_graphsipper.pb
data/frozen_inference_graphsipper.txt
data/coffeemugblue1.jpg
data/coffeemugblue67.jpg
data/mixed.jpg
data/combined.jpg
